@import "../_imports";

/* TYPOGRAPHY */

.Module--sidebar {
	b, p, .all-link, .moreLink, .Module__listItem {
		font: $sidebarModule--font;
	}
	.Module__header {
		font: $sidebarModule__header--font;
	}
	.Module__label--side { 
		font: $sidebarModule--labelFont;
	}
	.Module__name {
		font: $sidebarModule--nameFont;
	}
}

/* LAYOUT */

@media screen {
	
	.Module--sidebar {
		margin: $sidebarModule--margin;
	 	.all-link	{
			margin: 0 0 1em;
		}
		.Module__label, dd {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		.Module__header {
			margin-top: 0;
		}
		.Module__label {
			margin-right: .25em;
		}
		.Module__list {
			margin: 0;
			list-style:none;
			padding-left:0;
		}
		.Module__listItem {
			padding: .3em 0;
			margin:0;
		}
		.Module__listItem:last-of-type {
			margin-bottom: 1em;
		}
		.Module__name {
			margin-bottom: 0;
		}
		.moreLink {
			display: block;
		}
	}

}

@media all and (min-width: $small) {
}
	
@media all and (min-width: $medium) {

}

@media all and (min-width: $large) {
}

/* COLOR */

.Module--sidebar {
 	a	{
		border-bottom: none;
	}
	.Module__headerLink {
		@include link-colors(
			$sidebarModule__header--linkColor, 
			$sidebarModule__header--linkColorHoverFocus, 
			$sidebarModule__header--linkColorActive, 
			$sidebarModule__header--linkColorVisited, 
			$sidebarModule__header--linkColorHoverFocus
		);
	}
	.Module__listItem:first-child, 
	.Module__listItem:first-of-type {
		border-top: none;
	}
	.Module__listItem {
		border-top: $sidebarModule__listItem--border;
	}
}

