/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* News  */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Basic button bg colors: used in news at bottom of page so far
	----------------- */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
/* Don't modify these */
/* TYPOGRAPHY */
.Module--sidebar b, .Module--sidebar p, .Module--sidebar .all-link, .Module--sidebar .moreLink, .Module--sidebar .Module__listItem {
  font: 300 0.9rem "camingodos-web"; }
.Module--sidebar .Module__header {
  font: 600 1.25rem/1.1 "camingodos-web"; }
.Module--sidebar .Module__label--side {
  font: 600 0.9rem "camingodos-web"; }
.Module--sidebar .Module__name {
  font: 600 0.9rem "camingodos-web"; }

/* LAYOUT */
@media screen {
  .Module--sidebar {
    margin: 0 0 1.5em; }
    .Module--sidebar .all-link {
      margin: 0 0 1em; }
    .Module--sidebar .Module__label, .Module--sidebar dd {
      margin: 0;
      padding: 0;
      display: inline-block; }
    .Module--sidebar .Module__header {
      margin-top: 0; }
    .Module--sidebar .Module__label {
      margin-right: .25em; }
    .Module--sidebar .Module__list {
      margin: 0;
      list-style: none;
      padding-left: 0; }
    .Module--sidebar .Module__listItem {
      padding: .3em 0;
      margin: 0; }
    .Module--sidebar .Module__listItem:last-of-type {
      margin-bottom: 1em; }
    .Module--sidebar .Module__name {
      margin-bottom: 0; }
    .Module--sidebar .moreLink {
      display: block; } }
/* COLOR */
.Module--sidebar a {
  border-bottom: none; }
.Module--sidebar .Module__headerLink {
  color: #4b9347; }
  .Module--sidebar .Module__headerLink:visited {
    color: #00676b; }
  .Module--sidebar .Module__headerLink:focus {
    color: #86c11a; }
  .Module--sidebar .Module__headerLink:hover {
    color: #86c11a; }
  .Module--sidebar .Module__headerLink:active {
    color: #beee00; }
.Module--sidebar .Module__listItem:first-child,
.Module--sidebar .Module__listItem:first-of-type {
  border-top: none; }
.Module--sidebar .Module__listItem {
  border-top: 1px solid #CFE2CE; }

/* TYPOGRAPHY */
/* LAYOUT */
@media screen {
  .Module--sidebar.Module--news {
    /* Not sure about this but I think it was the only way to get to work. Needed to target the news module in the sidebar */ }
    .Module--sidebar.Module--news .Module__link {
      padding: 0;
      display: block; }
    .Module--sidebar.Module--news .Module__listItem {
      margin: 0 0 1em;
      padding: 0; } }
/* COLOR */
.Module--sidebar.Module--news .Module__listItem {
  border-top: none; }
.Module--sidebar.Module--news .Module__link {
  background: transparent; }

/* TYPOGRAPHY */
.u-ArticleListItem__title {
  font: 600 1.195rem "camingodos-web"; }

.u-ArticleListItem__label--type {
  font: 300 1.195rem "camingodos-web"; }

.u-ArticleListItem__label--dateline__posted {
  font: 300 1.195rem "camingodos-web"; }

.u-ArticleListItem__label--dateline__postedDate {
  font: 300 1.195rem "camingodos-web"; }

.u-ArticleNavGroup__navButton {
  font-weight: 600;
  font-size: .85em;
  text-align: center; }

/* LAYOUT */
@media screen {
  .icon_rss_link {
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0; }

  /* LATEST .u-NewsList__heading--announcements {
  	margin-top: 0;
  } */
  /* .u-NewsList__itemContainer {
  	margin: $u-NewsList__itemContainer--margin;
  } */
  /* .u-NewsList__item {
  	background: $u-NewsList__item--background;
  	padding: $u-NewsList__item--padding;
  	display: block;
  }
  .u-NewsList__list {
  	margin: $u-NewsList__list--margin;
  		list-style:none;
  		padding-left:0;
  } */
  .u-ArticleListItem__title {
    margin-bottom: 1.5%; }

  .u-ArticleListItem {
    margin-bottom: 7%; }

  .u-ArticleListItem__thumbnail {
    float: left;
    margin: 0 2.5% 2.5% 0; }

  .u-ArticleNavGroup {
    padding: 5% 0;
    width: 100%;
    /* clear: both; use only when styling all 3 rows of news nav buttons using the starter flattened content. */ }

  .u-ArticleNavGroup__navButton {
    float: left;
    display: block;
    padding: .3em .5em;
    margin: 0 2% 0 0;
    width: 23%; }

  .u-ArticleNavGroup__navButton--more {
    width: 75%; }

  .u-ArticleNavGroup__navButton--next:after {
    content: "\2192";
    margin-left: 0.3em; }

  .u-ArticleNavGroup__navButton--prev:before {
    content: "\2190";
    margin-right: .3em; }

  .u-ArticleNavGroup__navButton--archive {
    width: 23%;
    margin-right: 0;
    float: right; } }
/* COLOR */
/* u-NewsTools in sidebar this class was previously in news-base.css */
.icon_rss_link {
  background: url(http://collegerelations.vassar.edu/centralincludes/css/icons/main_icons/rss_large.gif) no-repeat;
  border: none; }

/* this class should be removed from the u-NewsTools sidebar markup and replaced with .icon-mail which is already centralized */
.icon-envelope:before {
  content: "\45\6d\61\69\6c"; }

.u-ArticleListItem__link {
  color: #00676b; }
  .u-ArticleListItem__link:visited {
    color: #00676b; }
  .u-ArticleListItem__link:focus {
    color: #86c11a; }
  .u-ArticleListItem__link:hover {
    color: #86c11a; }
  .u-ArticleListItem__link:active {
    color: #beee00; }

.u-ArticleListItem__link,
.u-ArticleListItem__label a {
  border-bottom: none; }

.u-ArticleNavGroup__navButton {
  border: none;
  background: #86c11a;
  color: #00676b; }
  .u-ArticleNavGroup__navButton:visited {
    background: #86c11a; }
  .u-ArticleNavGroup__navButton:focus {
    background: #4b9347; }
  .u-ArticleNavGroup__navButton:hover {
    background: #4b9347; }
  .u-ArticleNavGroup__navButton:active {
    background: #4b9347; }
  .u-ArticleNavGroup__navButton:visited {
    color: #00676b; }
  .u-ArticleNavGroup__navButton:focus {
    color: #beee00; }
  .u-ArticleNavGroup__navButton:hover {
    color: #beee00; }
  .u-ArticleNavGroup__navButton:active {
    color: #beee00; }

.u-ArticleNavGroup__navButton--archive {
  background: #00676b;
  color: #beee00; }
  .u-ArticleNavGroup__navButton--archive:visited {
    background: #00676b; }
  .u-ArticleNavGroup__navButton--archive:focus {
    background: #86c11a; }
  .u-ArticleNavGroup__navButton--archive:hover {
    background: #86c11a; }
  .u-ArticleNavGroup__navButton--archive:active {
    background: #86c11a; }
  .u-ArticleNavGroup__navButton--archive:visited {
    color: #beee00; }
  .u-ArticleNavGroup__navButton--archive:focus {
    color: #beee00; }
  .u-ArticleNavGroup__navButton--archive:hover {
    color: #beee00; }
  .u-ArticleNavGroup__navButton--archive:active {
    color: #beee00; }

/*	TYPOGRAPHY
	========== */
/* Elements */
html {
  font-family: "camingodos-web"; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.168em;
  margin-top: 0;
  font-family: "camingodos-web";
  font-weight: 600; }

h1 {
  font-size: 2.44em; }

h2 {
  font-size: 1.95em;
  margin-top: 0; }

h3 {
  font-size: 1.43em; }

h4 {
  font-size: 1.31em; }

h5 {
  font-size: 1.12em; }

h6 {
  font-size: 1em; }

.u-lContent {
  font-size: 19.12px;
  font-size: 1.195rem;
  font-family: "camingodos-web";
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.25em; }

p,
ul,
ol {
  margin: 0 0 1em; }

th {
  font-weight: 600; }

td {
  font-weight: 300; }

li {
  margin: 0 0 0.327em; }

/* Main page content */
.u-lMain {
  font-size: 100%; }

.u-pageTitle {
  margin-top: 0; }

/* u-lAside sidebar styles */
.u-lAside h1 {
  font-size: 1.953em; }
.u-lAside h2 {
  font-size: 1.562em; }
.u-lAside h3 {
  font-size: 1.25em; }
.u-lAside h4 {
  font-size: 1.143em; }
.u-lAside h5 {
  font-size: 1.093em; }
.u-lAside p,
.u-lAside ol,
.u-lAside ul {
  font-size: 1.195em;
  font-weight: 300; }
.u-lAside li {
  margin-bottom: 0.327em;
  line-height: 1.2; }

/* Ask Ray what he thinks of this */
@media all and (min-width: 400px) {
  .u-lMain {
    font-size: 110%; }

  p {
    line-height: 1.3; }

  .u-lAside p,
  .u-lAside ol,
  .u-lAside ul {
    font-size: 0.956em; }

  /*	Masthead
  	-------- */
  .u-Masthead__vassar {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300; } }
/* additions */
@media all and (min-width: 600px) {
  .u-BioList__name {
    display: inline-block; } }
.u-Masthead__siteName {
  font-size: 3.05176em; }

.u-BioList__name {
  font-size: 1em;
  font-weight: 600; }

.u-Masthead__vassar {
  margin-bottom: 1.22em;
  font-weight: 300; }

.u-BioList--faculty {
  margin-top: 1em; }

.u-Figure__caption--link {
  font-size: inherit; }

.u-VCard--Person ul {
  list-style: disc;
  margin: 0 0 1em;
  padding-left: 1.5em; }

ul.u-Bio__contactInfo {
  list-style: none;
  list-style-type: none;
  margin-top: 1em;
  margin-left: 0;
  padding-left: 0; }

/*	LAYOUT
	====== */
@media screen {
  .u-lFooter {
    clear: both; }

  .u-lHeader {
    padding: 4%;
    margin-bottom: 1em; }

  .u-lFooter {
    padding: 4%; }

  .galleria--content {
    margin: 0 0 2.5%; }

  .u-lContent,
  .u-lAside {
    padding: 4%; }

  .u-Masthead__siteName {
    margin-top: 4rem; } }
/*	SMALL
	----- */
@media all and (min-width: 600px) {
  .u-lMain {
    width: 70%;
    float: right;
    padding: 3%; }

  .u-NavSite {
    width: 30%;
    float: left;
    padding: 3% 0 3% 3%; }

  .u-lFooter {
    padding: 0 3% 2em; }

  .u-lHeader {
    padding: 3% 0 0;
    margin-bottom: 0; }

  .u-lContent,
  .u-lAside {
    padding: 0; }

  .u-Search {
    width: 256px;
    width: 16rem;
    top: 16px;
    top: 1rem;
    right: 10%; }

  .u-VCard--site {
    padding-top: 1.5em; } }
/*	MEDIUM
	------ */
@media all and (min-width: 800px) {
  .u-lMain {
    width: 80%; }

  .u-NavSite {
    width: 20%; } }
/*	LARGE
	----- */
@media all and (min-width: 1024px) {
  .u-lHeader {
    padding-left: 10%; }

  .u-lMain {
    width: 80%;
    padding-right: 10%; }

  .u-NavSite {
    width: 20%;
    padding-left: 10%; }

  .u-lAside {
    padding: 0;
    padding-left: 2%;
    width: 30%;
    float: right; }

  .u-lContent {
    padding: 0;
    padding-right: 2%;
    width: 70%;
    float: left; }

  .u-biosInner .u-lMain {
    width: 75%; }

  .u-biosInner .u-NavSite {
    width: 25%; } }
/* additions */
.u-NavSite__level--2 .u-NavSite__item {
  padding: .3em; }

body {
  max-width: none; }

.myDIV {
  display: none; }

.u-Bio__contactItem {
  margin-bottom: 0; }

.u-Gallery__modalThumbnail {
  margin: 0 0 2em; }

.u-BreadCrumbs {
  margin-bottom: 1em; }

@media all and (min-width: 600px) {
  #search {
    left: 16px;
    left: 1rem;
    position: absolute;
    top: 1rem !important;
    /* Need to resolve positioning conflict in mobileHeader */
    top: 16px !important;
    right: 32px;
    right: 2rem; } }
@media all and (min-width: 700px) {
  #search {
    position: absolute;
    right: 10%;
    top: 2rem !important;
    /* Need to resolve positioning conflict in mobileHeader */
    top: 32px !important; } }
@media all and (min-width: 56.25em) {
  .u-Masthead__siteName {
    margin-top: 0; } }
#navigation:target .u-NavSite__level--1 {
  z-index: 10000;
  position: relative; }

.icon-envelope:before {
  content: "" !important; }

html {
  padding: 0; }

/*	COLOR
	===== */
a {
  /*link-colors($normal, $hover, $active, $visited, $focus)*/
  color: #00676b;
  transition: all .23s ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid #7fb3b5;
  padding-bottom: 0; }
  a:visited {
    color: #00676b; }
  a:focus {
    color: #86c11a; }
  a:hover {
    color: #86c11a; }
  a:active {
    color: #beee00; }

html {
  background: #fff;
  color: #00676b; }

.u-lHeader {
  background: none; }

.u-lFooter {
  background: none; }

tbody tr:nth-child(odd) {
  background-color: #e9fce6; }
tbody td,
tbody th {
  border: 1px solid #beee00; }

h1, h2, h3, h4, h5, h6 {
  color: #4b9347; }

/* Additions */
.u-pageTitle {
  color: #00676b; }

.u-Masthead__siteName--link {
  color: #beee00; }
  .u-Masthead__siteName--link:visited {
    color: #beee00; }
  .u-Masthead__siteName--link:focus {
    color: #86c11a; }
  .u-Masthead__siteName--link:hover {
    color: #86c11a; }
  .u-Masthead__siteName--link:active {
    color: #fff; }

.u-Masthead__vassar--link,
.ac-NavAnchor--menu,
.u-Search__button {
  /*link-colors($normal, $hover, $active, $visited, $focus)*/
  color: white; }
  .u-Masthead__vassar--link:visited,
  .ac-NavAnchor--menu:visited,
  .u-Search__button:visited {
    color: white; }
  .u-Masthead__vassar--link:focus,
  .ac-NavAnchor--menu:focus,
  .u-Search__button:focus {
    color: #beee00; }
  .u-Masthead__vassar--link:hover,
  .ac-NavAnchor--menu:hover,
  .u-Search__button:hover {
    color: #beee00; }
  .u-Masthead__vassar--link:active,
  .ac-NavAnchor--menu:active,
  .u-Search__button:active {
    color: #86c11a; }

.u-NavSite__item {
  color: #00676b; }
  .u-NavSite__item:visited {
    color: #00676b; }
  .u-NavSite__item:focus {
    color: #86c11a; }
  .u-NavSite__item:hover {
    color: #86c11a; }
  .u-NavSite__item:active {
    color: #86c11a; }

.u-NavSite__item.u-NavSite__item--isCurrent {
  color: #4b9347; }
  .u-NavSite__item.u-NavSite__item--isCurrent:visited {
    color: #4b9347; }
  .u-NavSite__item.u-NavSite__item--isCurrent:focus {
    color: #86c11a; }
  .u-NavSite__item.u-NavSite__item--isCurrent:hover {
    color: #86c11a; }
  .u-NavSite__item.u-NavSite__item--isCurrent:active {
    color: #86c11a; }

.u-NavSite__item--isOpen .u-NavSite__item {
  color: #86c11a; }
  .u-NavSite__item--isOpen .u-NavSite__item:visited {
    color: #86c11a; }
  .u-NavSite__item--isOpen .u-NavSite__item:focus {
    color: #4b9347; }
  .u-NavSite__item--isOpen .u-NavSite__item:hover {
    color: #4b9347; }
  .u-NavSite__item--isOpen .u-NavSite__item:active {
    color: #4b9347; }

.u-NavSite__item--isOpen .u-NavSite__item.u-NavSite__item--isCurrent {
  color: #4b9347; }
  .u-NavSite__item--isOpen .u-NavSite__item.u-NavSite__item--isCurrent:visited {
    color: #4b9347; }
  .u-NavSite__item--isOpen .u-NavSite__item.u-NavSite__item--isCurrent:focus {
    color: #86c11a; }
  .u-NavSite__item--isOpen .u-NavSite__item.u-NavSite__item--isCurrent:hover {
    color: #86c11a; }
  .u-NavSite__item--isOpen .u-NavSite__item.u-NavSite__item--isCurrent:active {
    color: #86c11a; }

.u-Masthead__siteName {
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4); }

.u-lHeader {
  background: transparent url(../images/css/physics-astronomy-bg-top.jpg) no-repeat center center;
  background-size: cover; }

.u-lFooter {
  background: transparent url(../images/css/physics-astronomy-bg-bottom.jpg) no-repeat center center;
  background-size: cover; }

.u-lContent {
  padding: 0 1em; }

@media all and (min-width: 800px) {
  .u-lHeader {
    background: transparent url(../images/css/physics-astronomy-bg-top.jpg) no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-width: 0px 0px 40px;
    border-image: url(../images/css/physics-astronomy-border-top.png) 0 0 40 repeat; }

  .u-lFooter {
    background: transparent url(../images/css/physics-astronomy-bg-bottom.jpg) no-repeat center center;
    background-size: cover;
    border-style: solid;
    border-width: 40px 0px 0px;
    border-image: url(../images/css/physics-astronomy-border-bottom.png) 40 0 0 repeat; } }
.myDIV {
  display: none; }

.u-lFooter .u-VCard__item,
.u-lFooter .u-VCard__item:visited {
  color: #fff; }

.u-BreadCrumbs {
  border-bottom: 1px solid #CFE2CE; }

a.u-Galleria__caption {
  color: #00676b;
  text-decoration: none;
  border-bottom: 0; }
  a.u-Galleria__caption:visited {
    color: #00676b; }
  a.u-Galleria__caption:focus {
    color: #86c11a; }
  a.u-Galleria__caption:hover {
    color: #86c11a; }
  a.u-Galleria__caption:active {
    color: #beee00; }

@media (min-width: 600px) {
  .u-Search {
    background-color: transparent; } }
